body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #786fa6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

button {
    background-color: #574b90;
    border: none;
    color: #f7f1e3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

iframe {
    border: none;
}
